<section class="projects-section" id="projects">
  <div class="container">
    <div class="projects-wrapper mx-auto">
      <div class="section-header text-center">
        <h2 class="section-title">Proyectos</h2>

        <p class="section-subtitle">
          Por aquí proyectos que he desarrollado mediante la utilización de
          diferentes tecnologías, escalables y legibles. No solo para poder
          demostrar mis conocimientos, sino por la motivación tanto de crear
          como aportar.
        </p>
      </div>

      <div class="col-md-12">
        <div class="project-card h-100">
          <div class="project-image-wrapper">
            <img
              src="images/projects/EcoStream.png"
              alt="EcoStream"
              class="project-image"
            />
          </div>

          <div class="project-content">
            <h3 class="project-title">EcoStream</h3>
            <p class="project-description">
              Plataforma avanzada de telemetría urbana que procesa datos ambientales en tiempo real.
  La arquitectura se basa en un modelo dirigido por eventos mediante <strong>Apache Kafka</strong>,
  garantizando una alta concurrencia y escalabilidad, apoyada por <strong>Redis</strong> para
  una gestión de caché ultrarrápida y persistencia de estados temporales. Además, integra un
  agente inteligente basado en <strong>IA (Groq/Llama 3.1)</strong>, que realiza un análisis
  cognitivo profundo y auditoría automatizada de los datos, optimizando la toma de decisiones.
            </p>

            <div class="tech-stack">
              <span class="tech-pill fastapi">FastAPI</span>
              <span class="tech-pill react">React</span>
              <span class="tech-pill kafka">Kafka</span>
              <span class="tech-pill postgresql">PostgreSQL</span>
              <span class="tech-pill redis">Redis</span>
              <span class="tech-pill tailwindcss">Tailwind</span>
              <span class="tech-pill python">Python</span>
              <span class="tech-pill lite">Lite</span>
            </div>

            <div class="project-actions">
              <a
                href="https://github.com/Hwangvi/EcoStream"
                target="_blank"
                class="github-btn"
              >
                <i class="bi bi-github"></i>
              </a>
              <a
                  href="https://ecostream.hwangvi.dev"
                  target="_blank"
                  class="github-btn"
                >
                  <i class="bi bi-link-45deg"></i>
                </a>
              <a
                href="https://youtu.be/4_OAYPGkOo0"
                target="_blank"
                class="github-btn"
              >
                <i class="bi bi-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-4">
        <div class="col-md-6">
          <div class="project-card h-100">
            <div class="project-image-wrapper">
              <img
                src="images/projects/Hacktualidad-Logo.png"
                alt="Hacktualidad"
                class="project-image"
              />
            </div>

            <div class="project-content">
              <h3 class="project-title">Hacktualidad</h3>

              <p class="project-description">
                Un E-Commerce de productos de Hacking con estética
                Terminal/Cyberpunk Hub de comunidad (foro), diseñado con Spring
                Boot , Angular y Cloudinary, con gestión de colas, Implementa
                control de acceso estricto por roles (RBAC) y gestion reactiva
                de estado con RxJS. Aparte de Swagger para documentar la API de
                la propia aplicación (visible en README de la aplicacion en el
                Github)
              </p>

              <div class="tech-stack">
                <span class="tech-pill angular"> Angular </span>
                <span class="tech-pill spring"> Spring Boot </span>
                <span class="tech-pill SASS"> SASS </span>
                <span class="tech-pill mySQL"> MySQL </span>
                <span class="tech-pill typeScript"> TypeScript </span>
                <span class="tech-pill swagger"> Swagger </span>
                <span class="tech-pill kafka"> Kafka </span>
              </div>

              <div class="project-actions">
                <a
                  href="https://github.com/Hwangvi/Hacktualidad"
                  target="_blank"
                  class="project-btn github-btn"
                >
                  <i class="bi bi-github"></i>
                </a>

                <a
                  href="https://hacktualidad.vercel.app"
                  target="_blank"
                  class="github-btn"
                >
                  <i class="bi bi-link-45deg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="project-card h-100">
            <div class="project-image-wrapper">
              <span
                class="badge bg-warning text-dark px-3 py-2 fw-bold shadow-sm demo-badge"
              >
                <i class="bi bi-shield-fill-check me-1"></i> Modo Demo Activo
              </span>

              <img
                src="images/projects/Spotify.png"
                alt="Spotic"
                class="project-image"
              />
            </div>

            <div class="project-content">
              <h3 class="project-title">Spotic</h3>

              <p class="project-description">
                Réplica funcional de Spotify conectada a su API oficial. Cuenta
                con un
                <strong>sistema de contingencia (Resilience Fallback)</strong>:
                debido a las novedosas restricciones estrictas que Spotify for
                Developer ha implementado para cuentas no Premium, el backend
                conmuta automáticamente a un entorno de demostración enriquecido
                para garantizar el 100% de la navegación.
              </p>

              <div class="tech-stack">
                <span class="tech-pill angular"> Angular </span>
                <span class="tech-pill spring"> Spring Boot </span>
                <span class="tech-pill SASS"> SASS </span>
                <span class="tech-pill typeScript"> TypeScript </span>
                <span class="tech-pill h2"> H2 Cacheable </span>
              </div>

              <div class="project-actions">
                <a
                  href="https://github.com/Hwangvi/Spotic"
                  target="_blank"
                  class="github-btn"
                >
                  <i class="bi bi-github"></i>
                </a>

                <a
                  href="https://spotic-one.vercel.app"
                  target="_blank"
                  class="github-btn"
                >
                  <i class="bi bi-link-45deg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
