<section class="education-section" id="education">
  <div class="container">
    <div class="education-wrapper mx-auto">
      <div class="section-header text-center">
        <h2 class="section-title">Formación</h2>

        <p class="section-subtitle">
          Formación técnica, aprendizaje continuo y especialización en
          desarrollo de software moderno.
        </p>
      </div>

      <div class="row g-3">
        <div class="col-12">
          <div class="education-card featured-card">
            <div class="education-icon featured-icon">
              <i class="bi bi-mortarboard-fill"></i>
            </div>

            <div class="education-content">
              <h3 class="education-title">
                Desarrollo de Aplicaciones Web
              </h3>

              <p class="education-center">Grado Superior · DAW</p>

              <p class="education-description">
                Formación especializada en desarrollo web, tanto Front
                como Back, BBDD y Despliegue.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="education-card small-card">
            <div class="education-icon aws">
              <i class="bi bi-laptop"></i>
            </div>

            <div class="education-content">
              <h3 class="education-title">Curso de Sistemas Microinformáticos y Redes</h3>

              <p class="education-center">Curso SEPE</p>

              <p class="education-description">
                Manipulación de SO (Linux-Windows), programas y Scripts
              </p>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="education-card small-card">
            <div class="education-icon openwebinars">
              <i class="bi bi-award-fill"></i>
            </div>

            <div class="education-content">
              <h3 class="education-title">Certificaciones complementarias</h3>

              <p class="education-description">
                -Linkedin Learning: Servicios Web de Java, Spring Boot esencial<br>
                -OpenWebinards: Curso de Git.<br>
                -Idiomas: Inglés Nivel B2.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
