<section class="experience-section section" id="experience">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="section-title">Experiencia</h2>
      <p class="section-sub">
        Formación práctica y experiencia desarrollando aplicaciones reales.
      </p>
    </div>

    <div class="timeline">
      <div class="experience-card">
        <div class="experience-dot"></div>
        <div class="experience-content">
          <div class="experience-header">
            <div>
              <h3>Serbatic- a VASS company</h3>
              <span class="experience-company">
                Desarrollo Web Full Stack
              </span>
            </div>
            <span class="experience-date"> 2025 (3 meses) </span>
          </div>

          <p class="experience-description">
            Desarrollo de interfaces responsive con Angular, Desarrollo de microservicios,
            integración de APIs REST y trabajo backend con Spring Boot y bases de datos MySQL.
          </p>

          <div class="tech-stack">
            <span class="tech-pill angular"> Angular </span>

            <span class="tech-pill spring"> Spring Boot </span>

            <span class="tech-pill mySQL"> MySQL </span>

            <span class="tech-pill SASS"> SASS </span>

            <span class="tech-pill typeScript"> TypeScript </span>

            <span class="tech-pill swagger"> Swagger </span>
          </div>
        </div>
      </div>

      <div class="experience-card">
        <div class="experience-dot"></div>

        <div class="experience-content">
          <div class="experience-header">
            <div>
              <h3>AG Ingenieros</h3>

              <span class="experience-company"> Hardware y Software </span>
            </div>

            <span class="experience-date"> 2023 (1 mes)</span>
          </div>

          <p class="experience-description">
            Mantenimiento y ajuste de equipos tanto en hardware como en software,
            instalación de sistemas operativos, programas y scripts para
            funciones variadas.
          </p>

          <div class="teck-stack">
            <span class="tech-pill so"> SO: Linux & Windows </span>
            <span class="tech-pill redes"> Redes </span>
            <span class="tech-pill hardware"> Hardware </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
